## 1. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import os

## 2. Importing Data

In [2]:
# Set project folder as a string
path = r'/Users/matthewjones/Documents/CareerFoundry/Data Immersion/Achievement 6/Jamboree Entertainment Analysis'

In [3]:
df_movies = pd.read_csv(os.path.join(path, '02. Data', 'Prepared Data', 'clean_movies_clustered.csv'), index_col = False)

/var/folders/40/hn3x1h6s6vgb3bv80rtm46q80000gn/T/ipykernel_59048/2324360867.py:1: DtypeWarning: Columns (36) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies = pd.read_csv(os.path.join(path, '02. Data', 'Prepared Data', 'clean_movies_clustered.csv'), index_col = False)

## 3. Checking the Data

In [4]:
df_movies.columns

Index(['Unnamed: 0', 'id', 'title', 'vote_average', 'vote_count',
       'release_date', 'revenue', 'runtime', 'budget', 'synopsis', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'original_language', 'action', 'adventure', 'animation', 'comedy',
       'crime', 'documentary', 'drama', 'family', 'fantasy', 'history',
       'horror', 'music', 'mystery', 'romance', 'science_fiction', 'tv_movie',
       'thriller', 'war', 'western', 'runtime_category', 'budget_category',
       'cluster'],
      dtype='object')

In [5]:
# Drop the unnecessary column
df_movies = df_movies.drop(['Unnamed: 0'], axis = 1)

In [6]:
df_movies.shape

(490711, 36)

## 4. Data Wrangling

In [7]:
# Subset the dataframe to include films with a budget, a revenue, and at least 150 votes
df_voted_movies = df_movies.loc[(df_movies['budget'] > 0) & (df_movies['revenue'] > 0) & 
                                (df_movies['vote_count'] >= 150)]

### Production Country

In [8]:
# Select only the production country data
df_movies_by_country = df_voted_movies[['id', 'production_countries', 'revenue']]

In [9]:
# Create a function to turn a string into a list
def split_countries(x):
    return x.split(', ')

# Apply the function to every value in the 'production_countries' column
df_movies_by_country['production_countries'] = df_movies_by_country['production_countries'].apply(split_countries)

/var/folders/40/hn3x1h6s6vgb3bv80rtm46q80000gn/T/ipykernel_59048/2905672255.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies_by_country['production_countries'] = df_movies_by_country['production_countries'].apply(split_countries)

In [25]:
# Use the explode function to create a new row for each element of each list
tableau_countries = df_movies_by_country.explode('production_countries').reset_index(drop=True)

In [26]:
tableau_countries

           id      production_countries       revenue
0       27205            United Kingdom  8.255328e+08
1       27205  United States of America  8.255328e+08
2      157336            United Kingdom  7.017292e+08
3      157336  United States of America  7.017292e+08
4         155            United Kingdom  1.004558e+09
...       ...                       ...           ...
14231   21661  United States of America  1.022412e+07
14232   21612  United States of America  1.227324e+06
14233  374173                     India  1.889792e+07
14234   85621            Czech Republic  6.638849e+06
14235  585257                    Russia  1.291615e+07

[14236 rows x 3 columns]

### Genres

In [13]:
# Select only the production country data
df_movies_by_genre = df_voted_movies[['id', 'genres', 'budget', 'revenue', 'release_date', 'cluster']]

In [14]:
# Create a function to turn a string into a list
def split_genres(x):
    return x.split(', ')

# Apply the function to every value in the 'production_countries' column
df_movies_by_genre['genres'] = df_movies_by_genre['genres'].apply(split_genres)

/var/folders/40/hn3x1h6s6vgb3bv80rtm46q80000gn/T/ipykernel_59048/4275810118.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies_by_genre['genres'] = df_movies_by_genre['genres'].apply(split_genres)

In [15]:
# Use the explode function to create a new row for each element of each list
tableau_genre = df_movies_by_genre.explode('genres').reset_index(drop=True)

In [16]:
tableau_genre

,id,genres,budget,revenue,release_date,cluster
0,27205,Action,160000000.0,825532764.0,2010-07-15,Pink
1,27205,Science Fiction,160000000.0,825532764.0,2010-07-15,Pink
2,27205,Adventure,160000000.0,825532764.0,2010-07-15,Pink
3,157336,Adventure,165000000.0,701729206.0,2014-11-05,Pink
4,157336,Drama,165000000.0,701729206.0,2014-11-05,Pink
...,...,...,...,...,...,...
24432,374173,Comedy,3577143.0,18897918.0,2016-03-18,Grape
24433,85621,Comedy,1130710.0,6638849.0,2011-08-25,Pink
24434,85621,Romance,1130710.0,6638849.0,2011-08-25,Pink
24435,585257,Action,7000000.0,12916151.0,2020-12-24,Eggplant
24436,585257,Drama,7000000.0,12916151.0,2020-12-24,Eggplant

### Production Company

In [17]:
# Select only the production country data
df_movies_by_company = df_voted_movies[['id', 'production_companies', 'cluster']]

In [18]:
df_movies_by_company['production_companies'] = df_movies_by_company['production_companies'].astype('str')

/var/folders/40/hn3x1h6s6vgb3bv80rtm46q80000gn/T/ipykernel_59048/153363543.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies_by_company['production_companies'] = df_movies_by_company['production_companies'].astype('str')

In [19]:
# Create a function to turn a string into a list
def split_companies(x):
    return x.split(', ')

# Apply the function to every value in the 'production_countries' column
df_movies_by_company['production_companies'] = df_movies_by_company['production_companies'].apply(split_companies)

/var/folders/40/hn3x1h6s6vgb3bv80rtm46q80000gn/T/ipykernel_59048/3236872408.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies_by_company['production_companies'] = df_movies_by_company['production_companies'].apply(split_companies)

In [20]:
# Use the explode function to create a new row for each element of each list
tableau_company = df_movies_by_company.explode('production_companies').reset_index(drop=True)

In [21]:
tableau_company

           id   production_companies   cluster
0       27205     Legendary Pictures      Pink
1       27205                Syncopy      Pink
2       27205  Warner Bros. Pictures      Pink
3      157336     Legendary Pictures      Pink
4      157336                Syncopy      Pink
...       ...                    ...       ...
33887  585257           Studio Trite  Eggplant
33888  585257            Cinema Fund  Eggplant
33889  585257               Russia-1  Eggplant
33890  585257    Central Partnership  Eggplant
33891  585257                  VGTRK  Eggplant

[33892 rows x 3 columns]

## Exporting Data

In [27]:
# Export df_actual_features
tableau_countries.to_csv(os.path.join(path, '02. Data', 'Prepared Data', 'countries_expanded.csv'))

In [23]:
# Export df_actual_features
tableau_genre.to_csv(os.path.join(path, '02. Data', 'Prepared Data', 'genres_expanded.csv'))

In [24]:
# Export df_actual_features
tableau_company.to_csv(os.path.join(path, '02. Data', 'Prepared Data', 'companies_expanded.csv'))